/* width: 500px;
height: 100%;
} */

.iconLink {
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}

/* #header .profile img { */
/* .headshot {
  display: none;
  margin: 15px auto;
  display: block;
  width: 120px;
  border: 8px solid #2c2f3f;
} */

/* @media (max-width: 1199px) {
  #header {
    left: -300px;
  }
  #main {
    margin-left: 0;
  }
} */

.header {
  /* display: flex; */
  background: #3F3F3F;
  margin-bottom: 200px;
  padding-bottom: 100%;
  color: white;
}

.intro-img {
  background-image: url('https://cdn.pixabay.com/photo/2016/02/19/11/19/computer-1209641_1280.jpg');
  background-color: #cccccc;
  height: 500px;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(8px);
}

.intro-text{
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 40%;
  left: 60%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 70%;
  padding: 20px;
  text-align: center;
}

/* .skills{
  margin: 500px;
} */

/* .portfolioText {
  display: flex;
} */